.kerko {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    font-size: 16px;
    background-color: rgb(238, 238, 238);
    opacity: 0.8;
    background-image: url('../img/search-regular-24.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
.kerko:hover {
    width: 90%;
  }

*:focus, button:focus{
    outline: 0;
}

nav .navbar-nav .dropdown-menu a{
    color: #FFFFFF !important;
    white-space: normal;
    margin: 0;
    }


#settings{
    width: 10vh;
    outline: none;
    }

nav .navbar-nav li a{
    color: rgb(0, 0, 0) !important;
    margin-left: 10vh;
    size: 20vh !important;
    }

nav .navbar-nav li a:hover{
    color: #F5B18E !important;
    }  

#top_nav{
    z-index: 2000;
    }

/* Per gjeresi ekrani me te vogel se ose te barabarte 768px*/
@media screen and (max-width: 768px){
    .circular{
        width: 25vw;
        height: 25vw;
    }

    .card-size{
        width: 100%;
    }
    
    nav .navbar-nav li a{
        color: white !important;
        margin-left: 0vh;
        size: 20vh !important;
        }
    body{
        padding: 0px!important;
    }
     

    
}

/*Per piken e notification te requests*/
@keyframes fade-out-in {
    0% { opacity: 1; }
   50% { opacity: 0; }
  100% { opacity: 1; }
}
  
.circle {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: 2.5s fade-out-in infinite;
  background-color: #F5B18E;
  color:none;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}
/*Per gjeresi ekrani me te madhe se ose te barabarte me 1024px dhe lartesi maksimale ose te barabarte me 1310px*/
@media screen and (min-width: 1024px) and (max-height: 1310px) {
    
}



/* Per ipad */
@media screen and (min-width: 768px) and (min-height: 1024px) {
  
}

/* Per ipad pro*/
@media screen and (min-width: 1024px) and (min-height: 1366px) {
   
    nav .navbar-nav li a{
        margin: 0px;
    }

}




